<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
</head>
<body>
<input type="text" ng-model="myUrl" />
<div my-directive  my-url="{{myUrl}}" my-link-text="惦记我"></div>
</body>
<script type="text/javascript">
var app = angular.module('myApp',[]);
    app.directive('myDirective',function () {
        return {
            restrict:'A',
            replace:true,
            scope:{
                myUrl:'@',
                myLinkText:'@'
            },
            template:'<div><input type="text" ng-model="myUrl" /><a href="{{myUrl}}">{{myLinkText}}</a></div>'
        };
    });
</script>
</html>